* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
}

body {
    padding-left: 7rem;
    padding-right: 7rem;
}

#header {
    text-align: left !important;
}

h1 {
    margin: 3rem;
}

p {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left !important;
}